<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.wdy07.sharemachine.mapper.DeviceMapper" >
  <resultMap id="BaseResultMap" type="top.wdy07.sharemachine.entity.Device" >
    <id column="did" property="did" jdbcType="VARCHAR" />
    <result column="cpu" property="cpu" jdbcType="VARCHAR" />
    <result column="memSize" property="memsize" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="BIT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    did, cpu, memSize, state
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="top.wdy07.sharemachine.entity.DeviceExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_device
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tb_device
    where did = #{did,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tb_device
    where did = #{did,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="top.wdy07.sharemachine.entity.DeviceExample" >
    delete from tb_device
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="top.wdy07.sharemachine.entity.Device" >
    insert into tb_device (did, cpu, memSize, 
      state)
    values (#{did,jdbcType=VARCHAR}, #{cpu,jdbcType=VARCHAR}, #{memsize,jdbcType=VARCHAR}, 
      #{state,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="top.wdy07.sharemachine.entity.Device" >
    insert into tb_device
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="did != null" >
        did,
      </if>
      <if test="cpu != null" >
        cpu,
      </if>
      <if test="memsize != null" >
        memSize,
      </if>
      <if test="state != null" >
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="did != null" >
        #{did,jdbcType=VARCHAR},
      </if>
      <if test="cpu != null" >
        #{cpu,jdbcType=VARCHAR},
      </if>
      <if test="memsize != null" >
        #{memsize,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="top.wdy07.sharemachine.entity.DeviceExample" resultType="java.lang.Integer" >
    select count(*) from tb_device
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_device
    <set >
      <if test="record.did != null" >
        did = #{record.did,jdbcType=VARCHAR},
      </if>
      <if test="record.cpu != null" >
        cpu = #{record.cpu,jdbcType=VARCHAR},
      </if>
      <if test="record.memsize != null" >
        memSize = #{record.memsize,jdbcType=VARCHAR},
      </if>
      <if test="record.state != null" >
        state = #{record.state,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_device
    set did = #{record.did,jdbcType=VARCHAR},
      cpu = #{record.cpu,jdbcType=VARCHAR},
      memSize = #{record.memsize,jdbcType=VARCHAR},
      state = #{record.state,jdbcType=BIT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="top.wdy07.sharemachine.entity.Device" >
    update tb_device
    <set >
      <if test="cpu != null" >
        cpu = #{cpu,jdbcType=VARCHAR},
      </if>
      <if test="memsize != null" >
        memSize = #{memsize,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=BIT},
      </if>
    </set>
    where did = #{did,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="top.wdy07.sharemachine.entity.Device" >
    update tb_device
    set cpu = #{cpu,jdbcType=VARCHAR},
      memSize = #{memsize,jdbcType=VARCHAR},
      state = #{state,jdbcType=BIT}
    where did = #{did,jdbcType=VARCHAR}
  </update>
</mapper>